body {
  font-family: Arial;
  background-color: #f0faff;
  margin: 0;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 2rem;
}

.semestre {
  background-color:#e0f7ff;
  border: 2px solid #00b4d8;
  border-radius: 12px;
  margin: 1.5rem auto;
  padding: 1rem;
  max-width:1400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.semestre h2 {
  font-weight: bold;
  color: #0552b3;
  margin-bottom: 1rem;
  text-aling: center;
}

.malla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 0 1rem 
}

.ramo {
  border: 2px solid #5dcde3;
  border-radius: 10px;
  background-color: #d9f8ff;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
  text-align: center;
}

.ramo:hover {
  background-color: #addff4;
}

.ramo.aprobado {
  background-color: #f5bcd8;
  border-color: #ed74ad;
  color: #ed539c;
  font-weight: bold;
  font-style: italic;
}

.ramo.bloqueado {
  background-color: #e0f7ff;
  color: #aaa;
  border-style: dashed;
  cursor: not-allowed;
}
